/* Color Variables Start*/
/* Color Variables End*/

:root {
  --white: #ffffff;
  --lightpink: #ffc9c9;
  --black: #000;
  --white: #fff;
  --brown: #9b1b3a;
  --light-gray: #4d3e3e;
  --main-color: #ff9a9a;
}

table,
tr,
td,
h1,
p,
h3,
h4,
h5,
h6,
div,
span,
a,
li,
ul,
ol,
p,
form,
input {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-weight: normal;
  line-height: normal;
  outline: none;
}
li {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none !important;
}
input:focus,
textarea:focus,
button:focus {
  outline: none !important;
}
input:focus,
textarea:focus {
  border: none;
}

/* Global CSS */
.main-container {
  position: relative;
}
.main-container::after {
  clear: both;
  display: table;
  content: "";
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 25px;
}
p {
  font-size: 18px;
  line-height: 26px;
}
.main-btn {
  background-color: var(--brown);
  border: 2px solid transparent;
  color: var(--white);
  font-weight: 500;
  text-align: center;
  padding: 5px 15px;
  border-radius: 5px;
  transition: all 0.3s;
}
.main-btn:hover {
  border-color: var(--brown);
  background-color: transparent;
  color: var(--brown);
}

.section_padding {
  padding: 70px 0;
}

@keyframes down {
  0%,
  100% {
    transform: translateX(500px) rotate(0deg);
  }

  50% {
    transform: translateX(0px) rotate(360deg);
  }
}
/* animation: down 7s linear infinite; */
